@media (max-width: 600px) {
  header {
    h1 {
      display: none;
    }

    .nav-bar {
        ul {
          margin:0;
          display: unset;
          position: relative;
          right: 3.75rem;

          a {
            padding: 0 5px;
          }
        }
    }
  }

   .contact {
      flex-direction: column;
    }
}

@media (min-width: 768px) {
  .bottom {
      p:nth-child(1) {
        float: left;
      }
      p:nth-child(2) {
        float: right;
      }

      hr {
        clear: both;
      }
  }
}
