@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  position: relative;
  min-width: 110px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #EB0028;
  text-align: center;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.btn.btn__contact {
  height: 40px;
  background-color: #00C4ED;
  text-transform: uppercase;
  font-weight: 700;
}

.btn.btn__contact span {
  background-color: #00A7CA;
}

.btn span {
  background-color: #CE0024;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.block {
  padding: 3rem;
  position: relative;
  top: -45px;
  animation: fade-in 0.9s ease-out forwards;
  visibility: hidden;
}

.block__title {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  background: linear-gradient(to right, #cda330, #73622a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.block__heading {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 1rem 0;
  background: linear-gradient(to right, #762FC4, black 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.block__content {
  font-size: 1.2rem;
  color: #676767;
}

.block__link {
  margin: 2rem auto;
  text-align: center;
  font-size: 1.3rem;
  width: 135px;
  border-bottom: 2px solid #101920;
  transition: all 0.2s ease;
}

.block__link:hover {
  color: #EB0028;
  border-color: #EB0028;
  width: 150px;
}

.block__link a {
  color: inherit;
}

.block .img {
  text-align: center;
}

.block .img img {
  width: 80%;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.6rem 2rem;
  border-bottom: 1px solid #E5E5E5;
  background-color: #FFFFFF;
  z-index: 2;
  transition: all 0.3s ease;
}

header img {
  height: 30px;
}

header h1 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 2rem;
}

header .user {
  display: flex;
  margin: 0;
}

header .user li {
  padding: 10px 15px;
  border-bottom: 2px solid transparent;
}

header .user li:hover {
  color: #000000;
  border-bottom: 2px solid #000000;
}

header .user li a {
  color: #828282;
  font-size: 1.2rem;
}

header .user li:last-child {
  padding-right: 0;
}

header .nav-bar {
  flex: 1 0 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav-bar ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header .nav-bar ul a {
  display: inline-block;
  text-transform: uppercase;
  color: #828282;
  font-size: 0.8rem;
  margin: 0 15px;
  padding: 10px 5px;
  border-bottom: 2px solid transparent;
}

header .nav-bar ul a:hover {
  color: #EB0028;
  border-bottom: 2px solid #EB0028;
}

.block__img {
  position: relative;
}

.block__img img {
  width: 50%;
  visibility: hidden;
  height: 120vh;
}

.block__img::before, .block__img::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 20vh;
  background-color: #FFFFFF;
  transform: skewY(-3.5deg);
}

.block__img::before {
  top: 0;
  transform-origin: bottom left;
}

.block__img::after {
  bottom: 0;
  transform-origin: top right;
}

.block1 {
  background: url(https://res.cloudinary.com/ahmedagadir/image/upload/v1530726612/product-landing-page/block4.png);
  background-size: 80vh;
  background-attachment: scroll;
  background-position: center 25vh;
  z-index: 1;
}

.block5 {
  background: url(https://res.cloudinary.com/ahmedagadir/image/upload/v1530726612/product-landing-page/block5.png);
  background-size: 80vh;
  background-attachment: scroll;
  background-position: center 25vh;
  z-index: 1;
}

.block6 {
  background: url(https://res.cloudinary.com/ahmedagadir/image/upload/v1530726612/product-landing-page/block6.png);
}

.block1, .block5 {
  background-repeat: no-repeat;
  background-color: #674CAF;
  visibility: hidden;
  animation: fade-in-b 1s forwards;
}

.block6 {
  background-size: 100vw;
  background-attachment: fixed;
  background-position-y: -5vh;
}

.block.one {
  padding: 50px;
  padding-top: 12rem;
  text-align: center;
}

.block.one img {
  width: 40%;
}

.block.one .d1 {
  font-size: 4rem;
  margin: 1rem 0;
  font-weight: 600;
}

.block.one .d2 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
  margin-top: 200px;
}

.block.one .d3 {
  font-weight: 2.5rem;
  color: #676767;
  margin-bottom: 20vh;
}

@keyframes effectButtonMoveIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

footer {
  border-top: 1px solid #E5E5E5;
  margin: 3rem 0;
  color: #828282;
}

footer .contact, footer .bottom {
  padding: 2.5rem 1rem 0 1rem;
}

footer .contact {
  padding: 2.5rem 1rem 0 1rem;
}

footer .contact p {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
}

footer .contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

footer .contact form {
  margin-bottom: 3rem;
}

footer .contact form input {
  width: 250px;
  height: 40px;
  text-indent: 5px;
  font-size: 1rem;
}

footer .contact .social a {
  color: inherit;
}

footer .contact .social a i {
  font-size: 2rem;
  padding: 0 1rem;
}

footer .contact .social a:hover {
  color: red;
}

footer .bottom {
  background-color: #F9F9F9;
  font-size: 0.8rem;
  margin-top: 2rem;
}

footer .bottom span {
  margin-right: 1.2rem;
}

footer .bottom a {
  color: inherit;
  margin-right: 1.2rem;
}

@keyframes effectButtonMoveOut {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes fade-in {
  0% {
    top: 35px;
    opacity: 0.1;
  }
  100% {
    visibility: unset;
    top: 0px;
    opacity: 1;
  }
}

@keyframes fade-in-b {
  0% {
    opacity: 0;
    background-position: center 35vh;
  }
  100% {
    visibility: unset;
    opacity: 1;
    background-position: center 25vh;
  }
}

@media (max-width: 600px) {
  header h1 {
    display: none;
  }
  header .nav-bar ul {
    margin: 0;
    display: unset;
    position: relative;
    right: 3.75rem;
  }
  header .nav-bar ul a {
    padding: 0 5px;
  }
  .contact {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .bottom p:nth-child(1) {
    float: left;
  }
  .bottom p:nth-child(2) {
    float: right;
  }
  .bottom hr {
    clear: both;
  }
}
